body {
  max-width: 1000px;
  margin: 20px auto;
}

.comment-body {
  font-size: 1.1em;
  margin-bottom: 0.4em;
}

.comment-subtext {
  font-size: 0.9em;
  color: grey;
}

.comment-subtext span:first-child {
  color: rgb(170, 170, 170);
}

.vote-up{
  color:green;
}

.vote-down{
  color:orangered;
}

.del-commment-icon{
  float:right;
  color: transparent;
  transition: all 0.5s ease;
}

.comment-card:hover .del-commment-icon{
  color:darkgrey;
}