body {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 5px;
}

.comment-body {
  font-size: 1.1em;
  margin-bottom: 0.4em;
}

.comment-subtext {
  font-size: 0.9em;
  color: grey;
}

.comment-subtext span:first-child {
  color: rgb(170, 170, 170);
}

.vote-up {
  color:green;
}

.vote-down {
  color:orangered;
}

.del-commment-icon {
  float:right;
  color: transparent;
  transition: all 0.5s ease;
}

.comment-card:hover .del-commment-icon{
  color:darkgrey;
}

.nav {
  margin-bottom: 10px;
}

.article-card .media-left p {
  text-align: center;
}

.media-left {
  margin-right: 25px;
}

.comment-votes * {
  vertical-align: middle;
}

.comment-votes span:first-child {
  margin-right: 3px;
}

.comment-form {
  margin: 0px 10% 20px 0px;
}

.comment-form .textarea {
  margin-bottom: 10px;
  min-height: 100px;
}

.content a:not(.button):visited {
  color: inherit;
}
